USERNAME="my@email.com"
PASSWORD="my-password"
KEY_ID="my-key-id"
API_KEY="my-api-key"
LOCAL_DEV=true
PERSIST_PATH="./"
API_LOG_ENABLED=true
# Port for example/viewer.js (defaults to 3030)
VIEWER_PORT="3030"